<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Admin</title>
    <link rel="stylesheet" href="{% static 'css/css/materialdesignicons.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/vendor.bundle.base.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
  </head>
  <body>
    <div class="container-scroller">
      <div class="container-fluid page-body-wrapper full-page-wrapper">
        <div class="content-wrapper d-flex align-items-center auth">
          <div class="row flex-grow">
            <div class="col-lg-4 mx-auto">
              <div class="auth-form-light text-left p-5">
                <div class="brand-logo">
                  <img src="{% static 'img/logo.png' %}">
                </div>


{% if form.errors %}
  <p style="color: red">Your username and password didn't match. Please try again.</p>
{% endif %}

{% if next %}
  {% if user.is_authenticated %}
    <p style="color: green">Your account doesn't have access to this page. To proceed,
      please login with an account that has access.</p>
  {% else %}
    <h4>Hello! let's get started</h4><br>
    <h6 class="font-weight-light">Sign in to continue.</h6>
  {% endif %}
{% else %}
  <div class="h5  mb-4 text-center" style="color: green">Welcome Back !</div>
{% endif %}


                <form class="pt-3" action="{% url 'login' %}" method="post">
                  {% csrf_token %}
                  <div class="form-group">
                    <input type="text" class="form-control form-control-lg" placeholder="Username" name="username">
                  </div>
                  <div class="form-group">
                    <input type="password" class="form-control form-control-lg" id="exampleInputPassword1" placeholder="Password" name="password">
                  </div>
                  
                  <input class="btn btn-primary btn-user btn-block" type="submit" value="login" />
                  <input type="hidden" name="next" value="{{ next }}" />
                  
                  <div class="my-2 d-flex justify-content-between align-items-center">
                    <div class="form-check">
                      <label class="form-check-label text-muted">
                        <input type="checkbox" class="form-check-input"> Keep me signed in </label>
                    </div>
                    <a href="#" class="auth-link text-black">Forgot password?</a>
                  </div>
                  <div class="text-center mt-4 font-weight-light"> Don't have an account? <a href="#" class="text-primary">Create</a>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
        <!-- content-wrapper ends -->
      </div>
      <!-- page-body-wrapper ends -->
    </div>
<script src="{% static 'js/vendor.bundle.base.js' %}"></script>
<script src="{% static 'js/misc.js' %}"></script>
<script src="{% static 'js/off-canvas.js' %}"></script>
<script src="{% static 'js/hoverable-collapse.js' %}"></script>

  </body>
</html>