{% extends 'base.html' %}
{% load static %} 

{% block css %}
<link rel="stylesheet" href="{% static 'css/style_theme_1.css' %}">
<link rel="stylesheet" href="{% static 'css/filterdate.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/datatables/dt-global_style.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/datatables/buttons.dataTables.min.css' %}">
<link rel="stylesheet" href="{% static 'css/custom.css' %}">
{% endblock %}

{% block scripts %}
<script src="{% static 'js/filterdate.js' %}"></script>
<!-- BEGIN PAGE LEVEL CUSTOM SCRIPTS -->
<script src="{% static 'js/datatables/datatables.js' %}"></script>
<!-- NOTE TO Use Copy CSV Excel PDF Print Options You Must Include These Files  -->
<script src="{% static 'js/datatables/dataTables.buttons.min.js' %}"></script>
<script src="{% static 'js/datatables/jszip.min.js' %}"></script>    
<script src="{% static 'js/datatables/buttons.html5.min.js' %}"></script>
<script src="{% static 'js/datatables/buttons.print.min.js' %}"></script>
<script src="{% static 'js/datatables/buttons.flash.min.js' %}"></script>
<script src="{% static 'js/datatables/pdfmake.min.js' %}"></script>
<script src="{% static 'js/datatables/vfs_fonts.js' %}"></script>
<script src="{% static 'js/tableexport.js' %}"></script>
<!--   <script src="https://cdn.datatables.net/buttons/1.6.2/js/buttons.colVis.min.js"></script>
<script src="https://cdn.datatables.net/responsive/2.2.9/js/dataTables.responsive.min.js"></script> -->
<script src="{% static 'js/filterdate.js' %}"></script>

<script type="text/javascript">
$('#html5-extension').DataTable( {
  autoWidth: false,
  dom: 'lBfrtip', 
  buttons: {
      buttons: [{
      extend: 'excel',
      // orientation: 'landscape',
      title: 'Hundi Collections Register',
      filename: 'HundiCollections',
      className: 'btn-sm',
      exportOptions: {
      columns: [0, 1, 2, 3, 4, 5, 6],
      rows : {search:'applied'}},
      messageTop: ''},
    {
      extend: 'pdf',
      // orientation: 'landscape',
      title: 'Hundi Collections Register',
      filename: 'HundiCollections',
      exportOptions: {
      columns: [0, 1, 2, 3, 4, 5, 6],
      rows : {search:'applied'}}, 
      customize: function ( doc ) {
      doc.defaultStyle.fontSize = 9;
      doc.defaultStyle.alignment = 'left';
      doc.styles.tableHeader = {
      fillColor:'#525659',
      color:'#FFF',
      fontSize: '9',
      alignment: 'left',
      bold: true,  }},        
      className: 'btn-sm',
      messageTop: '',},
    {
      extend: 'print',
      // orientation: 'landscape',
      title: 'Hundi Collections Register',
      className: 'btn-sm',
      messageTop: '',
      filename: 'HundiCollections',},]},
  "oLanguage": {
    "sSearch": '',
    "sSearchPlaceholder": "Search/Filter...",},
  "stripeClasses": [],
  "lengthMenu": [ [30, 50, 100, -1], [30, 50, 100, "All"] ],
  "pageLength": 30,} );
</script>
{% endblock %}


{% block content %}    
 <div class="row">
  <!-- Earnings (Monthly) Card Example -->
  <div class="col-xl-3 col-md-6 mb-4">
    <div class="card border-left-primary shadow h-100 py-2">
      <div class="card-body2">
        <div class="row no-gutters align-items-center">
          <div class="col mr-2">
            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Total Hundi Donations</div>
            <div class="h6 mb-0 font-weight-bold text-gray-800"> ₹ {{tHundi}}</div>
          </div>
          <div class="col-auto">
            
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>

    <div class="grid-margin stretch-card">
      <div class="card">
        <div class="card-body2">
          <h4 class="card-title d-inline-block" style="margin-left: 20px;">Hundi Collections</h4>
          <button  onclick="location.href='{% url 'hundiform' 'create' 1 %}'" class="btn1 btn1-sm btn1-info float-right mdi mdi-library-plus" style="margin-right: 20px;">&nbsp;Add</button>
          <div class="table-responsive">
          <table class="table table-bordered table-striped" id="html5-extension">
            <thead style="color: white; background:  #02BAD6; font-weight: 10 ;">
              <tr>
                <th>#</th>
                <th>Date Till</th>
                <th>Amount</th>
                <th>By</th>
                <th>Edit</th>
              </tr>
            </thead>
            <tbody>
              {% for x in table %}
              <tr>
                <td style="width:10px;"> {{forloop.counter}}</td>
                <td>{{x.Date|date:'d M Y'}}</td>
                <td> {{x.Amount}} </td> 
                <td> {{x.By}} </td>  
                <td style="width:10px;">
                <a class="mdi mdi-border-color bs-tooltip" title="Update" href="{% url 'hundiform' 'updt' x.id %}"></a>&nbsp;&nbsp;&nbsp;               
<!--                 <a class="mdi mdi-delete bs-tooltip" title="Delete" href="{% url 'catform' 'dlt' x.id %}"></a> -->
              </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
        </div>
      </div>
    </div>
{% endblock %}

